.navigation {
  background-color: #0B156F;
  list-style: none;
  display: flex;
  color: '#ffffff';
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
  height: '30%';
}

.ImageHeader {
  flex-direction: row;
  align-content: space-around;
  display: flex;
}

.form-label {
  color: #0B156F;
  font-weight: bold;
  margin-left: 40px;
}

.form-control {
  border-color: #0B156F;
  border-width: 2px;
  width: 80%;
  border-radius: 10px;
  margin-left: 40px;
}

.row {
  margin-left: 40px;
}

.btn-light {
  margin-left: 40px;
  border-color: #0B156F;
  background-color: #0B156F;
  color: white;
}

.fluid-container {
  width: 400px;
  height: '105%';
  background: #fff;
  margin: 25px auto;
  border-color: #0B156F;
  /* border-width: 3 red;
border-radius: 10;
border-color:red ; */
  /* borderColor: 'red';
borderRadius:10;
borderWidth: 3; */
}

.link-secondary {
  margin-left: 40px;
}

.btn-light {
  margin-left: 40px;
  width: '30%';
}

.d-inline-block {
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}


/* 
.mid {
  padding-bottom: 40;
} */

.headed {
  background-color: aqua;
}

.mid {
  background-color: blue;
  height: '10%';
}

.foot {
  background-color: violet;
}

.d-flex {
  background-color: #0B156F;
}

.test{
  background-color: yellow;
}

.LandHeader{
  width:auto;
  height: auto;
  display:flex;
  flex-direction:row;
  color:#FF8038;
  padding-top: 20px;
  font-weight: bold;

}

.LandBody{
  background-color: white;
}

.nameP{
  padding-left: 580px;
  margin-top: 10px;

}

.imageP{
  margin-left:80px;
}

.LandInsideA{
  width:700px;
  display:flex;
  flex-direction:row;
}
.LandInsideAA{
  width:700px;
  display:flex;
  flex-direction:row;
  padding-top: 20px;
}

.LandInsideB{
  width:350px;

}

.LandInside{
  display:flex;
  flex-direction:row;
  padding-top: 20px;
}

.squareA{
  border-bottom: 1px solid #0B156F;
  border-top: 1px solid #0B156F;
  border-right: 1px solid #0B156F;
  border-left: 1px solid #0B156F;
  border-style: bisque;
  border-radius: 20px;
  height:180px;
  width:180px;
  box-shadow: 1px 3px 1px #444;
  background-color: #0B156F;
  color:#fff;

}

.squareB{
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  border-style: bisque;
  border-radius: 20px;
  height:180px;
  width:180px;
  margin-left:50px;
  box-shadow: 1px 3px 1px #444;
  background-color: #0B156F;
  color:#fff;

}

.squareC{
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  border-style: bisque;
  border-radius: 20px;
  height:180px;
  width:180px;
  margin-left:50px;
  box-shadow: 1px 3px 1px #444;
  background-color: #0B156F;
  color:#fff;
}

.imageP{
  margin-left:50px;

}